.bag-action-icon {
    margin-right: 4px;
}

/* Text in the error grid will wrap normally */
td.wrapped-cell > div {
    white-space: normal;
}

/* Italicizes rows for missing files */
.missing-bag-row {
    font-style: italic;
}

/* The status icon in the bottom left of the page */
.status-text-icon {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position-x: left;
    padding-left: 20px;
}

/* The default for the OpenLayers map is relative, which causes some weird
   rendering issues after resizing multiple times. */
div.ol-viewport {
    position: absolute !important;
}

.chart-organisation-icon {
    background-image: url('../images/chart_organisation.png');
}

.config-icon {
    background-image: url('../images/cog.png');
}

.cross-icon {
    background-image: url('../images/cross.png');
}

.database-icon {
    background-image: url('../images/database.png');
}

.film-icon {
    background-image: url('../images/film.png');
}

.film-go-icon {
    background-image: url('../images/film_go.png');
}

.folder-icon {
    background-image: url('../images/folder.png');
}

.images-icon {
    background-image: url('../images/images.png');
}

.information-icon {
    background-image: url('../images/information.png');
}

.link-icon {
    background-image: url('../images/link.png');
}

.loading-icon {
    background-image: url('../images/loading.gif');
}

.login-icon {
    background-image: url('../images/house_go.png');
}

.logout-icon {
    background-image: url('../images/door_out.png');
}

.magnifier-icon {
    background-image: url('../images/magnifier.png');
}

.map-icon {
    background-image: url('../images/map.png');
}

.refresh-icon {
    background-image: url('../images/arrow_rotate_anticlockwise.png');
}

.save-icon {
    background-image: url('../images/save.png');
}

.table-icon {
    background-image: url('../images/table.png');
}

.tag-add-icon {
    background-image: url('../images/tag_blue_add.png');
}

.tag-delete-icon {
    background-image: url('../images/tag_blue_delete.png');
}

.tick-icon {
    background-image: url('../images/tick.png');
}