<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: libs">
</head>
<body>
    <script th:inline="javascript">
        /* This is kind of lazy, but there are a few config values that affect the user interface,
         * so I just store them in global variables and access them later.
         */
        var useTileMap = /*[[${config.useMapQuest}]]*/ true;
        var tileMapUrl = /*[[${config.tileMapUrl}]]*/ "http://{a-d}.tile.stamen.com/terrain/{z}/{x}/{y}.jpg";
        var tileWidthPx = /*[[${config.tileWidthPx}]]*/ 256;
        var tileHeightPx = /*[[${config.tileHeightPx}]]*/ 256;
        var useBing = /*[[${config.useBing}]]*/ false;
        var bingKey = /*[[${config.bingKey}]]*/ '';
        var csrfName = /*[[${_csrf.parameterName}]]*/ '';
        var csrfToken = /*[[${_csrf.token}]]*/'';
    </script>
    <script th:src="@{/resources/js/application.js}"></script>
</body>
</html>